*
{
  box-sizing: border-box;
}

body, html
{
  margin: 0;
  padding: 0;

}

h2
{
  font-size:34px;
  letter-spacing:10px;
  margin:0;
  font-family: 'Kids Handwriting';
}

p
{
  font-family:sans-serif;
  word-spacing: 1.3px;
  line-height: 1.3rem;
  font-size: 1.25rem;
}

.background-image-right
{
  background-image: url("https://res.cloudinary.com/cloudcraig/image/upload/v1661488063/pexels-oleksandr-pidvalnyi-2836955_vnztlg.jpg");
  background-position: right center;
  background-size: 60vh 100vw;
  background-repeat: no-repeat;
  height:100%;
}

.background-image-left
{
  background-image: url("https://res.cloudinary.com/cloudcraig/image/upload/v1661488076/pexels-oleksandr-pidvalnyi-2836955_-_Copy_tzv2xp.jpg");
  background-position: left center;
  background-size: 60vh 100vw;
  background-repeat: no-repeat;
  height:100%;
}

.faq
{
  margin:auto;
  width:100%;
  max-width:768px;
  height:100%;
  background-color: white;
}

h2:nth-child(1) 
  {
    font-size:55px;
   
    text-align:center;
  }
#line
{
  height:5px;
  width:80%;
  background-color: black ;
  margin:auto;
  margin-top:10px;
  border-radius: 90%;
}

#center-graphic
{
  width: 100%;
  height: auto;
  clip-path: polygon(71% 0, 100% 0, 100% 20%, 0 30%, 0 0);
}

.faq .content
{
  display: flex;
  padding:auto;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top:-525px;
}


.faq .content .main-info ul 
{
  list-style: none;
  perspective: 900;
  padding: 0;
  margin: 25px;
}

#accordion-header
{
  text-align:center;
  font-family:sans-serif;
  font-size:20px;
  letter-spacing: 1.5px;
}

.main-info p
{
  font-size:1.1rem;
}

.faq .content .main-info ul li 
{
  position: relative;
  padding: 0;
  margin: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
}
.faq .content .main-info ul li:nth-of-type(1) 
{
  animation-delay: 0.5s;
}

.faq .content .main-info ul li:nth-of-type(2) 
{
  animation-delay: 0.75s;
}

.faq .content .main-info ul li:nth-of-type(3) 
{
  animation-delay: 1s;
}

.faq .content .main-info ul li:last-of-type {
  padding-bottom: 0;
}

.faq .content .main-info ul li i 
{
  position: absolute;
  transform: translate(-6px, 0);
  margin-top: 16px;
  right: 0;
}

.faq .content .main-info ul li i:before, ul li i:after 
{
  content: "";
  position: absolute;
  background-color: #fdfdff;
  width: 1px;
  height: 9px;
}

.faq .content .main-info ul li i:before 
{
  transform: translate(-2px, 0) rotate(45deg);
}

.faq .content .main-info ul li i:after 
{
  transform: translate(2px, 0) rotate(-45deg);
}

.faq .content .main-info ul li input[type=checkbox] 
{
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
}

.faq .content .main-info ul li input[type=checkbox]:checked ~ p 
{
  margin-top: 0;
  max-height: 0;
  opacity: 0;
  transform: translate(0, 50%);
  z-index: 1;
  display:none;
}

.faq .content .main-info ul li input[type=checkbox]:checked ~ i:before 
{
  transform: translate(2px, 0) rotate(45deg);
}

.faq .content .main-info ul li input[type=checkbox]:checked ~ i:after 
{
  transform: translate(-2px, 0) rotate(-45deg);
}
  
@keyframes flipdown 
{
  0% {
    opacity: 0;
    transform-origin: top center;
    transform: rotateX(-90deg);
  }
  5% {
    opacity: 1;
  }
  80% {
    transform: rotateX(8deg);
  }
  83% {
    transform: rotateX(6deg);
  }
  92% {
    transform: rotateX(-3deg);
  }
  100% {
    transform-origin: top center;
    transform: rotateX(0deg);
  }
}


footer
{
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  padding-top: 5px;
  color: rgb(250, 245, 245);
  width:100%;
}

.footer-content
{
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3
{
  font-size: 2.1rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
  margin: 0;
}

.footer-content p
{
  margin: 0 auto;
  line-height: 28px;
  font-size: 14px;
  color: #cacdd2;
}

/* .socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;

    border-radius: 50%;

}
.socials a i{
    font-size: 1.1rem;
    width: 20px;


    transition: color .4s ease;

}
.socials a:hover i{
    color: aqua;
} */

.footer-bottom
{
  background: #000;
  padding: 5px;
  margin:auto;
  text-align:start;
  width: 100%;
}

.footer-bottom p
{
  font-size: 14px;
  word-spacing: 1.5px;
  letter-spacing:2px;
  text-transform: capitalize;
  text-align:center;
  margin: 5px;
}

.footer-bottom p a
{
  color:#4eaadf;
  font-size: 16px;
  text-decoration: none;
}

.footer-bottom span
{
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}

.footer-menu ul
{
  display: flex;
  justify-content: space-around;
  padding:10px;
  margin:10px;
}

.footer-menu ul li
{
padding-right: 10px;
display: block;
}

.footer-menu ul li a
{
  color: hsl(215, 15%, 38%);
  text-decoration: none;
  font-size: 1.5rem;
  margin-left: 4px;
}

.footer-menu ul li a:hover
{
  color: #27bcda;
}

.f-menu .vl 
{
  border-left: 2px solid hsl(214, 8%, 83%);
  height: 30px;
  left: 50%;
  margin:0;
  top: 0;
}
@media screen and (max-width: 768px) 
{
  .background-image-right, .background-image-left 
  {
    background-image:none;
  }

  .footer-menu ul li 
  {
    display: flex;
    align-items: center;
  }

  .footer-menu ul li a
  {
    font-size:1.25em;
  } 

  .f-menu .vl 
  {
    margin-left: 10px;
    margin-right: 10px;
    height:50px;
  }  

  h2:nth-child(1) 
  {
    font-size:4rem;
  }

  .faq .content
  {
    margin-top:-200px;
  }

  .content p
  {
      font-size: 1rem;
      word-spacing: 7px;
      line-height: 1.3rem;
      margin: 25px;
  }

}


@media screen and (min-width: 1700px) 
{
  p
  {
    font-size: 1.5rem;
    word-spacing: 7px;
    line-height: 1em;
  }
  .pre-amble
  {
    margin:50px;
  }
  .background-image-right
  {
    height:100%;
  }

  .background-image-left
  {
    height:100%;
  }

  .faq
  {
    max-width:1000px;
    height:100%;
  }
  .faq .content 
  {
    margin-top: -525px;
  }

  #accordion-header 
  {
    font-size: 1.75rem;
    letter-spacing: 1.5px;
  }
  .main-info p 
  {
  font-size:1.5em;
  }
  /* h2:nth-child(1) 
  {
    font-size:5rem;
    margin-left:650px
  }

  h2:nth-child(2) 
  {
    font-size:4.75rem;
    margin-left:430px
  } */
  .faq .content .main-info ul li 
  {
    padding:20px;
  }
  #logo-img 
  {
    width:90%;
  }
  /* .faq .content .main-info ul li 
  {
    padding:30px;
  } */
  #home-list
  {
    font-size:1.5rem;
  }

  .footer-menu ul li a
  {
    font-size: 1.75em;
    margin-left: 4px;
  }
  .footer-bottom p 
  {
    font-size: 20px;
  }
  .footer-bottom p a 
  {
    font-size: 25px;
  }
  /* #left-graphic
{
  clip-path: polygon(25% 0, 100% 0, 100% 25%, 0 50%, 0 0);
} */
}