*
{
  box-sizing: border-box;
}

body, html
{
  margin: 0;
  padding: 0;

}

h2
{
  font-size:34px;
  letter-spacing:10px;
  margin:0;
  font-family: 'Kids Handwriting';
}

p
{
  font-family:sans-serif;
  word-spacing: 1.3px;
  line-height: 1.3rem;
  font-size: 1.25rem;
}

.background-image-right
{
  background-image: url("https://res.cloudinary.com/cloudcraig/image/upload/v1661488063/pexels-oleksandr-pidvalnyi-2836955_vnztlg.jpg");
  background-position: right center;
  background-size: 60vh 100vw;
  background-repeat: no-repeat;
  height:100%;
  background-repeat: repeat-y;
}

.background-image-left
{
  background-image: url("https://res.cloudinary.com/cloudcraig/image/upload/v1661488076/pexels-oleksandr-pidvalnyi-2836955_-_Copy_tzv2xp.jpg");
  background-position: left center;
  background-size: 60vh 100vw;
  background-repeat: no-repeat;
  height:100%;
  background-repeat: repeat-y;
}

.why
{
  margin:auto;
  width:100%;
  max-width:768px;
  height:100%;
  background-color: white;
}

h2:nth-child(1) 
  {
    font-size:55px;
   
    text-align:center;
  }
#line
{
  height:5px;
  width:80%;
  background-color: black ;
  margin:auto;
  margin-top:10px;
  border-radius: 90%;
}

#center-graphic
{
  width: 100%;
  height: auto;
  clip-path: polygon(71% 0, 100% 0, 100% 20%, 0 30%, 0 0);
}

.why .content
{
  display: flex;
  padding:auto;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top:-420px;
}


.why .content .main-info ul 
{
  list-style: none;
  perspective: 900;
  padding: 0;
  margin: 25px;
}

#accordion-header
{
  text-align:center;
  font-family:sans-serif;
  font-size:20px;
  letter-spacing: 1.5px;
}

.main-info p
{
  font-size:1.1rem;
  margin: 25px 25px 0 25px;
}

.why .content .main-info ul li 
{
  position: relative;
  padding: 0;
  margin: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
}
.why .content .main-info ul li:nth-of-type(1) 
{
  animation-delay: 0.5s;
}

.why .content .main-info ul li:nth-of-type(2) 
{
  animation-delay: 0.75s;
}

.why .content .main-info ul li:nth-of-type(3) 
{
  animation-delay: 1s;
}

.why .content .main-info ul li:last-of-type {
  padding-bottom: 0;
}

.why .content .main-info ul li i 
{
  position: absolute;
  transform: translate(-6px, 0);
  margin-top: 16px;
  right: 0;
}

.why .content .main-info ul li i:before, ul li i:after 
{
  content: "";
  position: absolute;
  background-color: #fdfdff;
  width: 1px;
  height: 9px;
}

.why .content .main-info ul li i:before 
{
  transform: translate(-2px, 0) rotate(45deg);
}

.why .content .main-info ul li i:after 
{
  transform: translate(2px, 0) rotate(-45deg);
}

.why .content .main-info ul li input[type=checkbox] 
{
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
}

.why .content .main-info ul li input[type=checkbox]:checked ~ p 
{
  /* margin-top: 0; */
  max-height: 0;
  opacity: 0;
  transform: translate(0, 50%);
  z-index: 1;
  display:none;
  margin: 0 25px 25px 25px;
}

.why .content .main-info ul li input[type=checkbox]:checked ~ i:before 
{
  transform: translate(2px, 0) rotate(45deg);
}

.why .content .main-info ul li input[type=checkbox]:checked ~ i:after 
{
  transform: translate(-2px, 0) rotate(-45deg);
}
  
@keyframes flipdown 
{
  0% {
    opacity: 0;
    transform-origin: top center;
    transform: rotateX(-90deg);
  }
  5% {
    opacity: 1;
  }
  80% {
    transform: rotateX(8deg);
  }
  83% {
    transform: rotateX(6deg);
  }
  92% {
    transform: rotateX(-3deg);
  }
  100% {
    transform-origin: top center;
    transform: rotateX(0deg);
  }
}
.iframe-container
{
  display:flex;
  justify-content: center;
}
.h2-wrapper h4{
  text-align: center;
  font-size:30px;
}

footer
{
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  padding-top: 5px;
  color: rgb(250, 245, 245);
  width:100%;
}

.footer-content
{
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3
{
  font-size: 2.1rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
  margin: 0;
}

.footer-content p
{
  margin: 0 auto;
  line-height: 28px;
  font-size: 14px;
  color: #cacdd2;
}
.iframe-container iframe
{
  width:560;
  height:315;
}
.footer-bottom
{
  background: #000;
  padding: 5px;
  margin:auto;
  text-align:start;
  width: 100%;
}

.footer-bottom p
{
  font-size: 14px;
  word-spacing: 1.5px;
  letter-spacing:2px;
  text-transform: capitalize;
  text-align:center;
  margin: 5px;
}

.footer-bottom p a
{
  color:#4eaadf;
  font-size: 16px;
  text-decoration: none;
}

.footer-bottom span
{
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}

.footer-menu ul
{
  display: flex;
  justify-content: space-around;
  padding:10px;
  margin:10px;
}

.footer-menu ul li
{
padding-right: 10px;
display: block;
}

.footer-menu ul li a
{
  color: hsl(215, 15%, 38%);
  text-decoration: none;
  font-size: 1.5rem;
  margin-left: 4px;
}

.footer-menu ul li a:hover
{
  color: #27bcda;
}

.f-menu .vl 
{
  border-left: 2px solid hsl(214, 8%, 83%);
  height: 30px;
  left: 50%;
  margin:0;
  top: 0;
}

.wrapper
{
  display:flex;
  justify-content: center;
  padding:35px;
  margin:auto;
}

.button-53 
{
  background-color: #3DD1E7;
  border: 0 solid #E5E7EB;
  box-sizing: border-box;
  color: #000000;
  display: flex;
  font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.5rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.5rem;
  padding: .75rem 1.65rem;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  width: 100%;
  max-width: 460px;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-53:focus 
{
  outline: 0;
}

.button-53:after 
{
  content: '';
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.button-53:hover:after 
{
  bottom: 2px;
  left: 2px;
}

.mailto-link 
{
	position: relative;
	padding: 8px 0;
}
.mailto-message 
{
	top: 1px;
	left: 50%;
	margin-bottom: -5px;
	transform: translate(-50%, -100%);
	position: absolute;
	display: none;
	width: auto;
	white-space: nowrap;
	font-size: 12px;
	background-color: black;
	color: white;
	padding: 2px 6px;
	border-radius: 2px;
	&:after,
	&:before {
		content: '';
	}
	&:before {
		top: 100%;
		left: 50%;
		border: solid transparent;
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: rgba(0, 0, 0, 0);
		border-top-color: #000000;
		border-width: 4px;
		margin-left: -4px;
	}
}

.mailto-link:hover .mailto-message,
.mailto-link:focus .mailto-message,
.mailto-link:focus-within .mailto-message 
{
	display: block;
}


@media screen and (max-width: 768px) 
{
  .background-image-right, .background-image-left 
  {
    background-image:none;
  }
  .why .content .main-info ul li 
  {
    margin:0px;
  }
  .footer-menu ul li 
  {
    display: flex;
    align-items: center;
  }
  .footer-menu ul li a
  {
    font-size:1.25em;
  } 
  
  .f-menu .vl 
  {
    margin-left: 10px;
    margin-right: 10px;
    height:50px;
  }  

  h2:nth-child(1) 
  {
    font-size:4rem;
  }

  .why .content
  {
    margin-top:-200px;
  }

  .content p
  {
      font-size: 1rem;
      word-spacing: 7px;
      line-height: 1.3rem;
      margin: 25px;
  }

}


@media screen and (min-width: 1700px) 
{
  p
  {
    font-size: 1.5rem;
    word-spacing: 7px;
    line-height: 1em;
  }
  .pre-amble
  {
    margin:50px;
  }
  .background-image-right
  {
    height:100%;
  }

  .background-image-left
  {
    height:100%;
  }

  .why
  {
    max-width:1000px;
    height:100%;
  }
  .why .content 
  {
    margin-top: -525px;
  }

  #accordion-header 
  {
    font-size: 1.75rem;
    letter-spacing: 1.5px;
  }
  .main-info p 
  {
  font-size:1.5em;
  }
  /* h2:nth-child(1) 
  {
    font-size:5rem;
    margin-left:650px
  }

  h2:nth-child(2) 
  {
    font-size:4.75rem;
    margin-left:430px
  } */
  .why .content .main-info ul li 
  {
    padding:20px;
  }
  #logo-img 
  {
    width:90%;
  }
  /* .faq .content .main-info ul li 
  {
    padding:30px;
  } */
  #home-list
  {
    font-size:1.5rem;
  }

  .footer-menu ul li a
  {
    font-size: 1.75em;
    margin-left: 4px;
  }
  .footer-bottom p 
  {
    font-size: 20px;
  }
  .footer-bottom p a 
  {
    font-size: 25px;
  }
  /* #left-graphic
{
  clip-path: polygon(25% 0, 100% 0, 100% 25%, 0 50%, 0 0);
} */
}